@*
    <Banner />
*@
@inherits BannerBase

<header>
    <header-logo>
        <a class="font-c64" href="/">
            appConfig.site
        </a>
    </header-logo>

    <header-social>
        <a target="_social" id="github-icon" href="https://github.com/aoa77/BlazorBlog">
            <img src="/resx/icons/GitHub.020.png" />
        </a>
        &nbsp;
        <a target="_social" id="linkedin-icon" href="https://www.linkedin.com/in/alalbers">
            <img src="/resx/icons/LinkedIn.020.png" />
        </a>
    </header-social>
</header>