@*
    BlogPage.razor
*@
@inherits BlogPageBase
@page "/blog/{Id}"


<article>
    <time class="font-c64">
        @* @DisplayDate *@
    </time>
    <h1 class="font-play-regular">
        @BlogPost.Title
    </h1>
    <section class="">
        <DynamicComponent Type="@ContentType" />
    </section>
</article>

