@*
    FeedPage.razor
*@
@page "/"

@foreach (var article in BlogManager.Articles.Values)
{
    <div style="@StripeColor()">
        <FeedView Article="@article" />
    </div>
}

@code {
    private int _index = 0;
    private string StripeColor()
    {
        string color = ++_index % 2 == 0 ? "even" : "odd";
        return $@"background-color: var(--{color}_background)";
    }
}