@inherits BlogArticleChild

<StepContainer Number="@Article.NextBullet()">
    <Title>
        Navigate to the directory where you want to store your project, and execute these GitHub CLI commands to create and clone a new repository.
    </Title>
    <ChildContent>

        <flex-box>
            <EmbeddedMedia Article="@Article"
                           MediaFile="step-01.mp4"
                           Width="576"
                           Height="450"
                           Scale="0.2" />
            <div>
                <Bullet>
                    From your GitHub profile or dashboard page, click the button to add a new repository.
                </Bullet>
            </div>
        </flex-box>
    </ChildContent>
</StepContainer>

