@inherits BlogArticleChild

<StepContainer Number="@Article.NextBullet()">
    <Title>
        Navigate to the directory where you want to store your project 
        and execute these gh CLI commands to create and clone a new repository.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidth.iPhone678">

            <EmbeddedMedia Article          ="@Article"
                           MediaFile        ="step-01.mp4"
                           Width            ="576"
                           Height           ="450"
                           Scale            ="0.3"
                           MinimumFlexWidth ="@DeviceWidth.iPhone678"
                           AltFlexScale     ="0.7" />

            <BulletList>
                <Bullet>
                    At the command prompt, execute the command:
                    <CodeClipboard Text="gh repo create" />
                </Bullet>
            </BulletList>
        </FlexBox>
    </ChildContent>
</StepContainer>


