header {
    background-color: #161718;
    border-bottom-color: #26143a;
    border-bottom-width: var(--header_bottom_border_height);
    display: table;
    height: var(--header_total_height);
    max-width: var(--max_width);
    padding: 1rem 1rem 0.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

    header > header-logo {
        display: table-cell;
        font-size: 0.90rem;
        text-align: left;
        vertical-align: bottom;
    }

        header > header-logo > a {
            color: #00ff00;
            opacity: 1;
        }

    header > header-social {
        display: table-cell;
        text-align: right;
        vertical-align: bottom;
    }

        header > header-social > a > img {
            margin: 0;
            width: 1.4rem;
        }
