@*
    <Header />
*@
<header>
    <header-logo>
        <a class="font-c64" href="/">
            APPCONFIG.SITE
        </a>
    </header-logo>

    <header-social>
        <a target="_social" id="github-icon" href="https://github.com/aoa77">
            <img src="/icon-GitHub.png" />
        </a>
        &nbsp;
        <a target="_social" id="linkedin-icon" href="https://www.linkedin.com/in/alalbers">
            <img src="/icon-LinkedIn.png" />
        </a>
    </header-social>
</header>