@*
    AppLayout.razor
*@

@inherits LayoutComponentBase
@inject IJSRuntime JS

<Header />

<main>
    @Body
</main>

<footer></footer>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        await JS.Startup();
    }
}