@inherits ArticleData

<ArticleView Data="@this">
    <p>
        In a <a href="/blog/000">previous article</a>, we discussed how to access Visual Studio 2022's project templates for popular frontend web UI frameworks including <JsFrameworkLinks />.
    </p>
    <p>
        In this tutorial, we will walk through the steps to create a new Angular 17 app with Visual Studio 2022.
    </p>

</ArticleView>

@code {
    public override void Setup()
    {
        base.InitializeParameters
        ("002", new(2024, 1, 15),
        "Creating a new Angular 17 app with Visual Studio 2022");
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Setup();
    }
}