code {
    background-color: #000000;
    color: #00ff00;
    cursor: pointer;
    display: block;
    font-family: monospace;
    margin: 1rem 0;
    opacity: var(--link_opacity);
    padding: .24rem .60rem .48rem .60rem;
}

    code:hover {
        background-color: #000055;
        opacity: 1;
    }
