@*
    <CodeClipboard />
*@
@using CurrieTechnologies.Razor.Clipboard
@inject ClipboardService clipboard

<code @onclick="(async e => await clipboard.WriteTextAsync(Text))">
    @Text
</code>


@*
<input @bind="textValue" />
<button @onclick="(async e => await clipboard.WriteTextAsync(textValue))">Copy To Clipboard</button>
<button @onclick="(async e => textValue = await clipboard.ReadTextAsync())">Paste From Clipboard</button>
*@

@code
{
    [Parameter] public string Text { get; set; } = "";
}