embedded-media > * {
    background-color: #000055;
    border-color: #000055;
    border-width: var(--embedded_media_image_link_border);
    opacity: 1;
    display: block;
    margin: 0 1rem 1rem 0;
}

embedded-media > a:hover {
    background-color: #0000ff;
    border-color: #0000ff;
}

embedded-media > a > img {
    display: block;
}

embedded-media.media-video > a {
    display: none;
}

embedded-media.media-image > video {
    display: none;
}
