step-container {
    border-width: 1px;
    border-color: transparent;
    display: table;
    margin: 0 1.35rem 1rem 0;
}

    step-container > step-wrap {
        display: table-cell;
    }

        step-container > step-wrap > step-num {
            background-color: #0000aa;
            border-color: #26143a;
            border-radius: 100%;
            border-width: 0.0625rem;
            color: #ffff00;
            display: inline-block;
            font-size: 1.0rem;
            margin: 0 0.5rem 0 0;
            padding: 0.52rem 0 0 0;
            text-align: center;
            text-shadow: 0.125rem 0.125rem 0.125rem #000000;
            height: 2.3rem;
            width: 2.3rem;
        }

    step-container > step-title {
        display: table-cell;
        font-size: 1.42rem;
        padding: 0.295rem 0 0 0;
    }

step-spacer {
    display: block;
    font-size: 1.00rem;
    height: 2rem;
}

step-spacer-half {
    display: block;
    font-size: 1.00rem;
    height: 1rem;
}
