@*
    <StepContainer /> is a component that displays a step number and title, and wraps the content of a step in a container.
*@
@inherits ParentComponent

@if (Number == 1)
{
    <step-spacer-half>&nbsp;</step-spacer-half>
}
else
{
    <step-spacer>&nbsp;</step-spacer>
}

<step-container>
    <step-wrap>
        <step-num class="font-play-bold">
            <span class="@labelClass()">
                @Number
            </span>
        </step-num>
    </step-wrap>
    <step-title class="font-play-regular">@Title</step-title>
</step-container>

<content-fragment>
    @ChildContent
</content-fragment>

@code {

    private string labelClass()
    {
        return $"circle-{Number.ToString().Length}-digit";
    }

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public RenderFragment? Title { get; set; }
}
