img-preview {
    display: block;
    margin: 1rem 0 0 -1.50rem;
}

    img-preview > a {
        border-color: #005500;
        border-width: 0.0625rem;
        display: inline-block;
        opacity: 1;
    }

        img-preview > a:hover {
            border-color: #00ff00;
        }

    img-preview.table-cell {
        display: table-cell;
    }
