
<intro-text>
    <p>
        Visual Studio 2022 has quick-start project templates for popular frontend web UI frameworks including
        <JsFrameworkLinks />.
    </p>
    <p>
        The IDE relies on
        <a target="_external" href="https://nodejs.org/">Node.js</a>
        and
        <a target="_external" href="https://www.npmjs.com/">NPM</a>
        to provide the code scaffolding and tools necessary to build and run web applications with these frameworks.
    </p>
    <p>
        Follow these steps to access these project templates within Visual Studio 2022.
    </p>
</intro-text>

<Step_01 Article="@this" />
<Step_02 Article="@this" />
<Step_03 Article="@this" />
<Step_04 Article="@this" />
