@using BlazorBlog.DataService
@using BlazorBlog.UI.Components
@using BlazorBlog.UI.Constants

<StepContainer Number="1">
    <Title>
        Fire up the Visual Studio 2022 installer.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidths.iPhone678">

            <EmbeddedMedia MediaFileMapper  = "BlogPost.ConvertToResourcePath"
                           MediaFile        = "vs2022-installer-00.png"
                           Width            = "427"
                           Height           = "122"
                           Scale            = "0.3"
                           MinimumFlexWidth = "@DeviceWidths.iPhone678"
                           AltFlexScale     = "0.7" />

            <BulletList>
                <Bullet>
                    If you don't have Visual Studio 2022 installed, you can download the Community version for free on the <a target="_external" href="https://visualstudio.microsoft.com/downloads/">Visual Studio website</a>.
                </Bullet>
                <Bullet>
                    If you already have Visual Studio 2022 installed, you can open the installer by searching for <b>Visual Studio Installer</b> in the Windows Start menu.

                </Bullet>
            </BulletList>
        </FlexBox>
    </ChildContent>
</StepContainer>

