@using BlazorBlog.DataService
@using BlazorBlog.UI.Constants
@using BlazorBlog.UI.Components

<StepContainer Number="3">
    <Title>
        Install the Node.js development workload.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidths.iPhone678">
            
            <EmbeddedMedia MediaFileMapper  = "BlogPost.ConvertToResourcePath"
                           MediaFile        = "vs2022-installer-02.gif"
                           Width            = "1858"
                           Height           = "893"
                           Scale            = "0.3"
                           MinimumFlexWidth = "@DeviceWidths.iPhone678"
                           AltFlexScale     = "0.7" />

            <BulletList>
                <Bullet>
                    In the <b>Modifying</b> window, find the <b>Web &amp; Cloud</b> section under the <b>Workloads</b> tab.
                </Bullet>
                <Bullet>
                    Select the checkbox for <b>Node.js development</b> and click the <b>Modify</b> button to install the workload.
                </Bullet>
                <Bullet>
                    Go ahead and close the installer once it has finished installing the Node.js workload.
                </Bullet>
            </BulletList>

        </FlexBox>
    </ChildContent>
</StepContainer>

