@using BlazorBlog.DataService
@using BlazorBlog.Pub.content._shared
@using BlazorBlog.UI.Constants
@using BlazorBlog.UI.Components

<StepContainer Number="4">
    <Title>
        Confirm that the new project templates are available.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidths.iPhone678">
            
            <BulletList>
                <Bullet>
                    Launch Visual Studio 2022.
                </Bullet>
                <Bullet>
                    In the <b>Get started</b> window, select <b>Create a new project</b>.
                </Bullet>
                <Bullet>
                    Use the <b>Search for templates</b> input to confirm the availability of new project templates for <JsFrameworkLinks />.
                </Bullet>
            </BulletList>
                        
            <EmbeddedMedia MediaFileMapper  = "BlogPost.ConvertToResourcePath"
                           MediaFile        = "vs2022-new-project-01.gif"
                           Width            = "931"
                           Height           = "720"
                           Scale            = "0.3"
                           MinimumFlexWidth = "@DeviceWidths.iPhone678"
                           AltFlexScale     = "0.7" />
        </FlexBox>
    </ChildContent>
</StepContainer>

