<a class="dim" target="_external" href="https://angular.io/">Angular</a>,
<a class="dim" target="_external" href="https://react.dev/">React</a>, and
<a class="dim" target="_external" href="https://vuejs.org/">Vue</a>