@using BlazorBlog.DataService
@using BlazorBlog.UI.Constants
@using BlazorBlog.UI.Components

<StepContainer Number="1">
    <Title>
        In a terminal, navigate to the directory where you want to store your project 
        and execute these gh CLI commands to create and clone a new repository.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidths.iPhone678">
            
            <EmbeddedMedia MediaFileMapper  = "BlogPost.ConvertToResourcePath"
                           MediaFile        = "step-01.mp4"
                           Width            = "576"
                           Height           = "450"
                           Scale            = "0.3"
                           MinimumFlexWidth = "@DeviceWidths.iPhone678"
                           AltFlexScale     = "0.7" />

            <BulletList>
                <Bullet>
                    At the prompt, execute the command:
                    <CodeClipboard Text="gh repo create" />
                </Bullet>
            </BulletList>
        </FlexBox>
    </ChildContent>
</StepContainer>


