<BulletStep Number="@Data.NextBullet()">
    <Title>
        Update Visual Studio 2022.
    </Title>
    <Content>
        <Bullet>
            Once the installer is open, check for updates and install any that are available.
        </Bullet>
        <Bullet>
            Once the software is up to date, click the <b>Modify</b> button to add or remove components.
            <ImagePreview Article=@Data
                          ImageFile="vs2022-installer-01.gif"
                          Size=(521,181,0.7) />
        </Bullet>
    </Content>
</BulletStep>

@code {
    [Parameter]
    public required ArticleData Data { get; set; }
}