@inherits BlogArticleChild

<StepContainer Number="@Article.NextBullet()">
    <Title>
        Update Visual Studio 2022.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@DeviceWidth.iPhone678">
            
            <BulletList>
                <Bullet>
                    Once the installer is open, check for updates and install any that are available.
                </Bullet>
                <Bullet>
                    Once the software is up to date, click the <b>Modify</b> button to add or remove components.

                </Bullet>
            </BulletList>

            <EmbeddedMedia Article          ="@Article"
                           MediaFile        ="vs2022-installer-01.gif"
                           Width            ="521"
                           Height           ="181"
                           Scale            ="0.3"
                           MinimumFlexWidth ="@DeviceWidth.iPhone678"
                           AltFlexScale     ="0.7" />
        </FlexBox>
    </ChildContent>
</StepContainer>

