@inherits BlogArticleChild

<StepContainer Number="@Article.NextBullet()">
    <Title>
        Fire up the Visual Studio 2022 installer.
    </Title>
    <ChildContent>
        <FlexBox MinimumFlexWidth="@FlexSizer.DeviceWidth.Mobile">
                <EmbeddedMedia Article              ="@Article"
                               MediaFile            ="vs2022-installer-00.png"
                               Width                ="427"
                               Height               ="122"
                               Scale                ="0.5"
                               MinimumFlexWidth     ="@FlexSizer.DeviceWidth.Mobile" 
                               AltFlexScale         ="0.8"/>
                <div>
                    <Bullet>
                        If you don't have Visual Studio 2022 installed, you can download the Community version for free on the <a class="dim" target="_external" href="https://visualstudio.microsoft.com/downloads/">Visual Studio website</a>.
                    </Bullet>
                    <Bullet>
                        If you already have Visual Studio 2022 installed, you can open the installer by searching for <b>Visual Studio Installer</b> in the Windows Start menu.

                    </Bullet>
                </div>
        </FlexBox>
    </ChildContent>
</StepContainer>

