<BulletStep Number="@Data.NextBullet()">
    <Title>
        Fire up the Visual Studio 2022 installer.
    </Title>
    <Content>
        <Bullet>
            If you don't have Visual Studio 2022 installed, you can download the Community version for free on the <a class="dim" target="_external" href="https://visualstudio.microsoft.com/downloads/">Visual Studio website</a>.
        </Bullet>
        <Bullet>
            If you already have Visual Studio 2022 installed, you can open the installer by searching for <b>Visual Studio Installer</b> in the Windows Start menu.
            <ImagePreview Article=@Data
                          ImageFile="vs2022-installer-00.png"
                          Size=(427,122,0.6) />
        </Bullet>
    </Content>
</BulletStep>

@code {
    [Parameter]
    public required ArticleData Data { get; set; }
}